/*
	Friendo Global
	-------------------------------------------
	*CH1 - Tyopgraphy
	*CH2 - Page Structure
	*CH3 - Header & Navigation
	*CH4 - Content & Media
	*CH5 - Footer 
	*CH6 - Misc
---------------------------------------------
*/

/* Font */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');



/*
*CH1 - Tyopgraphy
---------------------------------------------
*/

* {
	font-family: 'Open Sans';
}


#site-wrapper {
	width: 100%;
	height: 100vh;
	display: table;
}

h1 {
	color: #414141;
	font-size: 16px;
	margin: 0px;
	padding: 10px;
	font-weight: 700;
}

h2 {
	font-size: 15px;
}

p {
	font-size: 14px;
	margin: 0;
}

a {
	color: #666;
	cursor: pointer;
}

a:hover {
	color: #000;
	text-decoration: none;
}




/*
*CH2 - Page Structure
---------------------------------------------
*/

body {
	overflow: scroll;
	height: 100vh;
}

/* Förstör firefox scoll? */
#calendar {
	overflow-y: hidden; 
}

/* Bootstrap Grid kvarleva */
.col-md-2, .col-xs-2 {
	display: block;
}

/*
*CH6 - Misc
---------------------------------------------
*/


/* Visa och göm element */
.hide{
	display: none;
}

.show{
	display: block;
}
.show h2 {
	font-weight:bold!important;
	margin-left: 10px;
}

.showEdit{
	display: block;
}

.hideEdit{
	display: none;
}

@media screen and (max-width: 768px) {

	/*
*CH1 - Tyopgraphy
---------------------------------------------
*/

h1 {
	padding: 0px;
}


}

@media screen and (max-width:768px) { 
	#site-wrapper {
		width: 100%;
		display: inline-block;
		overflow: hidden;
	}
	#modal {
		width: 100%;
		padding-top: 0;
	}

	.modal #container {
		width: 100%;
	}
}