

/*Logo and slogan*/
#logo-container{
	margin-bottom: 50px;
}
#login-box {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	top: 150px;
}
#login-logo {
	display: block;
	margin:0 auto;
}
/*Login form*/
#input-container,
#register-container {
	width: 100%;
	height: 82px;
	background-color: rgba(255,255,255,0.9);
}
#register-container {
	height: 123px;
}
.input-field,
.btn-login,
.password-input-repeat-invalid,
.password-input-repeat-valid {
	float: right;
	display: block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.btn-login{
	cursor: pointer;
	text-align: center;
}

.input-field,
.password-input-repeat-invalid,
.password-input-repeat-valid {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	outline-color: #B94032;
	width: 100%;
	background-color: rgba(255,255,255,0.0);
}
.email-input {
	background-position: left 10px bottom 14px;
}
.password-input,
.password-input-login,
.password-input-repeat-invalid,
.password-input-repeat-valid {
	background-position: left 10px bottom 9px;
}
.btn-login {
	margin-top: 15px;
	color: white;
	border: none;
}
.btn-login:nth-child(2) {
	background-color:#B94032;
}

/*Password/Email Validation*/
.email-input:focus:required:invalid,
.password-input:focus:required:invalid,
.password-input-repeat-invalid:focus {
  background: pink;
  background-position: left 10px bottom 9px;
}
.email-input:focus:valid,
.password-input:focus:valid,
.password-input-repeat-valid:focus {
	background-color: lightgreen;
	background-position: left 10px bottom 9px;
}
.email-input:focus:required:invalid {
	background-position: left 10px bottom 14px;
}
.email-input:focus:valid {
	background-position: left 10px bottom 14px;
}

.validation01 {
  background: #B94032;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 3px;
  position: absolute;
  right: -110px;
  text-align: center;
  top: 0;
  width: 100px;
}
.email-input:focus + .validation01,
.password-input:focus + .validation01 {
  display: block;
}
.email-input:focus:required:valid + .validation01,
.password-input:focus:required:valid + .validation01 {
  background: green;
}
.email-input:focus:required:valid + .validation01 .invalid,
.password-input:focus:required:valid + .validation01 .invalid {
  display: none;
}
.email-input:focus:required:invalid + .validation01 .valid,
.password-input:focus:required:invalid + .validation01 .valid{
  display: none;
}

.link {
	color: white;
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}
.link:nth-child(2) {
	margin-top: 70px;
}
.link:hover {
	cursor: pointer;
	text-decoration: underline;
}
p.login {
	margin-top: 70px;
}
@media screen and (max-width:768px) { 
	#login-box {
		width: 90%;
		top: 90px;
	}
}

@media screen and (min-width:1921px) { 
	#login-box {
		
		top: 300px;
	}
}