/*
	Friendo Create Event
	-------------------------------------------
	*CH1 - Tyopgraphy
	*CH2 - Page Structure
	*CH3 - Header & Navigation
	*CH4 - Content & Media
	*CH5 - Footer 
	*CH6 - Misc
---------------------------------------------
*/



/*
*CH1 - Tyopgraphy
------------------------------------------------------------
*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/*Header*/
h1#create-event-header {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	text-align: center;
	top: 12px;
}
/*Add datetime/ Add location*/
.rdtTime thead {
	width: 100%;
	text-align: center;
	border:2px solid black;
	font-size: 1.5em;
}

/*
*CH2 - Page Structure
------------------------------------------------------------
*/
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
}
/*Create event modal*/
#modal {
	transition: width 2s;
}
.modal-hidden {
	display: none;
}
.modal {
    display: block; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    padding-top: 50px;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
    -webkit-animation-name: modalFadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: modalFadeIn;
    animation-duration: 0.4s
}
@-webkit-keyframes modalFadeIn {
    from {background-color: rgba(0,0,0,0.0)} 
    to {background-color: rgba(0,0,0,0.7)}
}

@keyframes modalFadeIn {
     from {background-color: rgba(0,0,0,0.0)}
    to {background-color: rgba(0,0,0,0.7)}
}
/*Create Event Container*/
#container {
	z-index: 99999;
	background-color: #fff;
  margin: 0 auto;
  width: 440px;
  position: relative;
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/*Footer*/
#footer {
	border-top: 2px solid rgba(0,0,0,0.1);
	height: 76px;
}
#btn-create-event {
	background-color:#31BA38;
	border:1px solid #31BA38 ;
	color: #fff;
	display: block;
	font-size:13px;
	font-weight:bold;
	height: 42px;
	letter-spacing: 1px;
	margin:17px auto 0 auto;
	width: 90%;
}
#btn-create-event:hover {
	cursor: pointer;
}

/*
*CH3 - Header and Navigation
------------------------------------------------------------
*/

/*Header*/
header {
	height: 52px;
}
#btn-close-modal {
 	background-color: #fff;
 	border: 1px solid #fff;
 	float: right;
 	margin-right: 20px;
 	position: relative;
 	bottom: 18px;
}

/*Navigation*/
#navigation {
	border-bottom: 2px solid rgba(0,0,0,0.1);
	height: 44px;
	margin-bottom:0;
}

#navigation li {
	display: inline-block;
	list-style-type: none;
	padding-left: 20px;
}

#navigation a {
	color: rgba(0,0,0,0.3);
	display: inline-block;
	font-weight: bold;
	padding: 10px 0 10px 0;
	text-decoration: none;
}

.active {
    border-bottom: 4px solid #b53027;
    color: #b53027 !important;
}
/*
*CH4 - Content and Media
------------------------------------------------------------
*/
/*Add date/time container*/
#btn-date-time,
#btn-add-location 
{
	background-color: #fff;
	border: 1px solid #fff;
	outline-color:#fff;
	display: block;
	margin: 0 auto;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 0 12px 0;
	color: #32b938;
}

#btn-date-time::before,
#btn-add-location::before
{
	content: url(/img/plus_icon.png);
	position: relative;
	top:3px;
	right: 5px;
}

#btn-clear,
#btn-add {
	display: none;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 0 2px 0;
	color: #32b938;
	position: relative;
	background: #fff;
	border-bottom: 4px solid #fff;
	border-top: none;
	border-left: none;
	border-right: none;
}

#btn-clear {
	left:20px;
	color: #b53027;
}

#btn-add {
	left: 270px;
}

#btn-clear:hover {
	border-bottom: 4px solid #b53027;
}

#btn-add:hover {
	border-bottom: 4px solid #32b938;
}

/*Event Details*/
#event-name-container,
#search-user-container {
	height: 40px;
	width:100%;
}

#event-name-container{
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

#event-details-container {
	width: 100%;
	height: 150px;
}

#event-details,
#event-name,
#search-user {
	border: 0;
	height: 100%;
	outline-color: rgba(255,255,255,0.0);
	padding: 5px 5px 5px 20px;
	width: 100%;
}

#event-details {
	width: 100%;
	height: 100%;
}
/*ADD DATE/TIME, ADD LOCATION*/
.rdt {
	border-bottom: 2px solid rgba(0,0,0,0.1);
	width: 50%!important;
	display: none;
}
.rdtPicker {
	width: 100px !important;
	padding:0 !important;
	font-size: 10px !important;
	bottom: 35px !important;
	border: 1px solid #CCC;
}
.rdtTimeToggle {
	border: 1px solid #666;
	font-weight: bold !important;
	font-size: 1.5em;
}

.rdtTimeToggle::before {
	content: url(../img/date_time_picker/clock.png);
	position: relative;
	top: 1px;
	right: 4px;
}
.rdtSwitch:only-child::before{
	content: url(../img/date_time_picker/events.png);
	position: relative;
	top: 1px;
	right: 4px;
}
#date-container div:nth-child(0) {
	border-right: 2px solid rgba(0,0,0,0.1);
}

.rdtPicker td, .rdtPicker th {
	height: 20px!important;
}

.form-control {
	box-shadow: none;
}

.form-control:first-of-type {
	border-right: 2px solid rgba(0,0,0,0.1);
	border-radius: 0;
}

.form-control:focus {
	outline-color: rgba(255,255,255,0.0);
	border: 1px solid #fff;
	-webkit-box-shadow:none;
}


/*ADD DATE/TIME CONTAINER*/
.card,
.people-card {
	border: 2px solid rgba(0,0,0,0.1);
}

.people-card {
	width: auto;
	display: inline-block;
	margin: 5px 5px 0 0;
	padding: 5px;
}

.card {
	width: 93%;
	padding: 10px;
	margin: 10px auto;
}

.people-card button,
.card button{
	background-color: #fff;
	border: 1px solid #fff;
	float: right;
	position: relative;
	bottom: 2px;
}

.people-card span,
.card span {
	position:relative;
}

.card-span-bold{
	font-weight: bold;
}

#location-name{
	position:relative;
}

#location-name {
	left: 10px;
}

#location-address {
	left: 23px;
}

button#remove-location {
	bottom: 12px;
}

#location-icon {
	position: relative;
	top: 10px;
}

.card-container {
	list-style-type: none;
	margin:0;
}

#date-time-card-container span {
	margin-left: 10px;
}

#date-time-card-container,
#invited-people-container,
#location-card-container {
	max-height: 200px;
	overflow-y: scroll;
}

.location-field-hidden {
	display:none;
}

.location-field-visible {
	display: block;

}

#location-field {
	width: 93%;
	margin: 0 auto;
	height: 50px;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}

#output-container {
	border: 2px solid rgba(0,0,0,0.1);
	width:440px;
	padding: 0;
	margin: 0 auto;
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	
}

.output-container-hidden {
	display: none;
}

.output-container-visible {
	display: block;
}

/*Date Time Picker*/
.form-control {
  border: 1px solid #fff;
  outline-color: rgba(255, 255, 255, 0.0);
}

.date {
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

#locationField {
	width: 92.5%;
	margin:0 auto;
}
#autocomplete {
 width: 100%;
 padding:5px;
}

#autocomplete:focus {
 outline-color: rgba(255,255,255,0.0);
}

#btn-invite-email {
	background-color: #B53027;
	border: none;
	border-radius: 2px;
	transition: .2s;
	color: white;
	padding: 5px;
	display: none;
	margin: 10px auto;
	letter-spacing: 1px;
}

#btn-invite-email:hover {
	box-shadow: 1px 1px 1px #666;
}

.add-email {
	height: 0px;
	transition: height .2s;
}

.add-email-visible{
	height: 37px;
	transition: height .2s;
}

.people-card .card-span-bold {
	margin-right: 16px;
}

/*PEOPLE*/
#invited-people-container {
  margin-left: 20px;
}

#people-search-list {
  list-style-type: none;
  margin-bottom:0;
  z-index: 1001;
  display: block;
}

.people-search-list-hidden {
	display: none;
}

#people-search-list li {
  padding:10px 18px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#people-search-list li:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.people-search-list-item-selected {
	background-color: rgba(0,0,0,0.1);
	padding:10px 18px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
@media screen and (max-width:768px) { 
	#site-wrapper {
		width: 100%;
		display: inline-block;
		overflow: hidden;
	}
	#modal {
		width: 100%;
		padding-top: 0;
	}
}

