/*
	Friendo Sidebar
	-------------------------------------------
	*CH2 - Page Structure
	*CH3 - Header & Navigation
	*CH4 - Content & Media
---------------------------------------------
*/


/* 
*CH2 - Page Structure
---------------------------------------------
*/

/* Toppen av Sidebar */
#sidebar-toggle {
	display: none;
	}
.logo,
.create-event,
.sitenav,
.navbar-fixed-bottom
{
	display: block;
}

.logo {
	background-color: #b53027; 
	height: 75px; 
}

/* Resten av Sidebar */
.left-sidebar-visible,
.left-sidebar
{
	display:table-cell;
	vertical-align: top;
	width: 220px;
	background-color: #242632;
	height: 100%;
}

/* Create Event Container */ 

.create-event {
	height: 122px; /* Höjden räknar med en search också */
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-left: 5%;
}

/* Events / Profile / Settings */

.sitenav {
	padding-top: 30px;
}

/* Alerts / Send Feedback / Logout */

.bottom-navigation {
	/* padding-top: 60px; */
}

/* 
*CH3 - Header & Navigation
---------------------------------------------
*/

/* Create Event Button */

.create-event button {
	background-color: rgba(255, 255, 255, 0.0);
	border: 1px solid #767980;
	border-radius: 1px;
	color: #767980;
	/* display: block; */
	font-weight: bold;
	/* font-size: 15px; */
	font-size: 15px;
	margin-top: 37px;
	padding: 0px 10px 7px 10px;
}

.create-event button:hover {
	color: #FFF;
	border-color:#fff;
	cursor: pointer;
}
.create-event button strong {
	font-size: 27px;
	position: relative;
	top: 3px;
}
/* Översta / Nedersta Nav */

.sitenav ul, .bottom-navigation ul {
	list-style-type: none;
	padding-left: 15px;
}

.sitenav li, .bottom-navigation li {
	font-size: 15px;
	margin-bottom: 20px;
}

.bottom-navigation li:hover {
	cursor: pointer;
}

.sitenav a, .bottom-navigation a, .bottom-navigation li {
	color: #767980;	
}

/* Selected (dummy) */
#navitem1 {
	color: #fff;
}

#navitem1 span {
	position: relative;
	top: 2px;
}

/* 
*CH4 - Content & Media
---------------------------------------------
*/

/* Logotypen */

.logo img {
	padding: 14px 0 0 10px;
	margin-left: 5px;
}

[id*="navitem"] > img,
[id*="bottomnav"] > img {
	width: 17px;
	margin-bottom: 3.5px;
	margin-right: 15px;
}

li[id*="bottomnav"]::before,
a[id*="bottomnav"]::before {
	padding-right: 10px;
}

@media screen and (max-width:768px) { 
	#sidebar-toggle {
		display: inline-block;
		position: relative;
		top: 10px;
	}
	.left-sidebar {
		transition: width .1s;
		width: 0%;
		float: left;
		visibility: hidden;
	}
	.left-sidebar-visible {
		background-color: #242632;
		width: 80%;
		display: inline-block;
		float: left;
		transition: width .2s;
	}
}
