/*
	Friendo Event Overview
	-------------------------------------------
	*CH1 - Tyopgraphy & Icons
	*CH2 - Page Structure
	*CH3 - Header & Navigation
	*CH4 - Content & Media
	*CH6 - Misc
---------------------------------------------
*/


/*
*CH1 - Tyopgraphy & Icons
---------------------------------------------
*/

/* Events */
.centerDiv {
	display: inline-block;
}
#event-overview {
	display:table-cell;
  	height: 100%;
}
.event-header {
	padding-bottom: 20px;
}
.event-header h1 {
	display: inline-block;
	margin-top: 10px;
	
}

.event-subHeader > img {
	margin-bottom: 5px;
	margin-right: 10px;
}
.event-info h2 {
	margin-left: 10px;
	font-weight: bold;
}

/* Filter */
#filterEvents {
	border: 1px solid #ECECEC;
	color: #414141;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 10px;
	outline: none;
	padding-right: 10px;
}


/* Event container paragraphs */
.event-date > p, .participants > p, .event-location > p {
	display: inline;
}

/* Date, People, Place icons */
.event-date > img, .participants > img, .event-location > img {
	width: 17px;
	height: 17px;
	margin: 2px 10px 4px 0px;
}


/*
*CH2 - Page Structure
---------------------------------------------
*/

/* Attend Dropdown */

.attendDropdown > select {
	border: 0px solid #ECECEC;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 3px;
	outline: none;
}

/* Attending */
.attendDropdown option:nth-child(2){
	color: #a3d856;
	font-weight: bold;
}

/* Not Attending */
.attendDropdown option:nth-child(3){
	color: #ad1d12;
	font-weight: bold;
}

/* Maybe Attending */
.attendDropdown option:nth-child(4){
	color: #f0b71f;
	font-weight: bold;
}

/* Container alla event */
.events {
	height: 100vh;
	overflow-y: scroll;
	padding: 15px 3% 200px 3%;

}

/* Container enskilda event */
.event-container {
	border: 1px solid #ECECEC;
	position: relative;
	float: left;
	display: inline !important;
	margin: 0 3% 30px 0;
	width: 48.5%;
}

.event-container:nth-child(2n+0){
	margin-right: 0;
}

/* Date, People */
/* Location, Attend Dropdown */
.first, .second {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.first {
	margin-bottom: 5px;
}

.second {
	margin-bottom: 20px;
}


/*
*CH3 - Header & Navigation
---------------------------------------------
*/

.event-header {
	border-bottom: 1px solid #ECECEC;
	height: 75px;
	padding: 15px 30px 15px	 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/*
*CH4 - Content & Media
---------------------------------------------
*/

/* Event Image */
.event-image-container {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.event-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* Date, People, Location*/
.event-date, .participants, .event-location  {
	margin: 5px 17px 0px 10px;
}


/*
*CH6 - Misc
---------------------------------------------
*/

.events::-webkit-scrollbar { 
  display: none;
}
@media screen and (max-width:768px) { 
	
	#event-overview {
		display: inline-block;
		float: left;
		width: 100%;
		margin-right: -80%;
	}
	.event-header {
		padding: 15px 10px 15px 15px!important;
	}
	.event-subHeader {
		display: none;
	}

	select #filterEvents{
		/* background: url("/img/events/arrow-down.png") no-repeat 95% 50%;
		-webkit-appearance:none; */
		position: relative;
		top: 5px;
	}
}
	

@media screen and (min-width:1921px) { 
	.event-container {
			width: 31%;

	}
	.event-container:nth-child(2n+0){
		margin: 0 3% 30px 0;
		
	}
	.event-container:nth-child(3n+0){
		margin-right: 0;
		
	}
	
}

@media screen and (max-width:1150px) {
	.event-container {
		border: 1px solid #ECECEC;
		float: none !important;
		margin: 0 3% 30px 0;
		width: 100% !important;
	}
} 








