/*
	Friendo Event Details
-------------------------------------------
	*CH1 - Tyopgraphy
	*CH2 - Page Structure
	*CH3 - Header & Navigation
	*CH4 - Content & Media
	*CH5 - Misc
-------------------------------------------
*/


/*
*CH1 - Tyopgraphy
---------------------------------------------
*/

/* Attendees statistik */
h1.show p {
	display: inline-block;
	font-size: 1.2em;
}
h1.show a {
	font-size: 12px;
	position: relative;
	top: 6px;
}
span > h1 {
	font-weight: bolder;
	text-align: center;
	margin-top: 20px;
}

span > p {
	padding: 10px;
	font-weight: normal;
}

.coming > h1 {
	color: #8ecc20;
	font-size: 24px;
}

.maybe > h1 {
	color: #f0b71f;
	font-size: 24px;
}

.notComing > h1 {
	color: #b53027;
	font-size: 24px;
}

.invited > h1 {
	color: #414141;
	font-size: 24px;
}

/* Markern till Google Maps */
.counter {
	color: #000;
	position: relative;
	right: 20px;
	top:-3px;
	font-size: 10px;
	font-weight: bolder;
}

.settled_pointer {
	color: #000;
	position: relative;
	right: 21.7px;
	top:-4px;
	font-size: 8px;
	font-weight: bolder;
}


/* Confirm, Cancel knappar */
a.confirm {
	color: #8ecc20;
	margin-left: 10px;
}

a.confirm:hover {
	color: green;
}

a.cancel {
	color: #b53027;
	margin-left: 10px;
}

a.cancel:hover {
	color: red;
}

a#cancelEvent {
	margin-left: 10px;
	margin-right: 10px;
}

a #cancelEvent:hover {
	color: #b53027;
	background-color: red;
}


/* Antal röster på dates/locations */
.datesVotes > p, .placesVotes > p {
	color: #666;
	font-weight: bold;
	text-align: center;
}

/* Location title  */
.placesTitle, .closeLocationPlacesTitle, .closeDate {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

/* Hela addressen */
.placesDetailed, .closeLocationPlacesDetailed {
	padding-left: 11px;
}


/*
*CH2 - Page Structure
---------------------------------------------
*/

/* För vänstra och högra sidan (EventDetails/Userinfo & Map/Date/Location) */
.eventDetailsLayout {
	display: flex;
	flex-direction: row;
}

/* Containers */
.eventDescription, .aboutHost, .eventLocation, .eventDate {
	border: 1px solid #d2d2d2;
	margin: 20px 0px 0px 20px;
	width: 460px;
}

.eventLocation h2, .eventDate h2{
 	margin-left: 10px;
 	font-weight: bold;
 }

.about {
	position: relative;
	bottom: 5px;
}

.aboutHost h2 {
	margin-left: 10px;
	font-weight: bold;
}


/* Event bilden */
.eventDescription > img {
	width: 100%;
}

/* Scrolla innehållet och ha kvar headern */
.scroll {
	overflow-y: scroll;
	height: 100vh;
	padding-bottom: 200px;
}

.scroll::-webkit-scrollbar {	
	display: none;
	overflow: hidden;
}

.show h2 > a {
	margin-left: 10px;
}

.box > .confirmLocation > h2 {
	margin-left: 10px;
}

.box > .confirmDate > h2 {
	margin-left: 10px;
}

.box > h2 > p {
	margin-left: 10px;
}

a#alignRight {
	margin-right: 10px;
}
/* Description Event */
.description {
	padding: 10px;
}




/* Hidden */

/* Håller edit på samma rad */
.endVotingHeader, .editHeader, .editLocation {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	font-weight: bold!important;
}

.endVotingHeader h2, .editHeader h2, .editLocation h2 {
	font-weight: bold;
}

#alignRight {
	float: right;
	color: #999;
	text-decoration: none;
	padding-left: 10px;
}

#alignRight:hover {
	color: #666;
}

/* Sätter edit till höger istället*/
#titleHeader {
	display: flex;
	flex-direction: row;
}

.box {
	border-top: 1px solid #CCC;
	background-color: #fafafa;
}

/* Datum och tid container */
.dateHolder, .closeDateHolder {
	border-top: 1px solid #d2d2d2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 12px;
	margin-bottom: 20px;

}

.timeHolder, .closeTimeHolder {
	margin: 0px;
	padding-top: 0px;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

.timeHolder2::before, .closeTimeHolder2::before {
	content: url("/img/events/clock.png");
	margin-right: 10px;
	vertical-align: middle;
}

.datesVoteHolder {
	padding-right: 20px;
}

/* Attendees information */

.attendees {
	border-bottom: 1px solid #ECECEC;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.attendeesAvatar {
	display: flex;
	flex-direction: row;
}

.attendeesAvatar img:nth-child(1) {
	display: flex;
	flex-direction: row;
	border: 3px solid #FFF;
	position: relative;
	left: 0px;
}

.attendeesAvatar img:nth-child(2) {
	display: flex;
	flex-direction: row;
	border: 3px solid #FFF;
	position: relative;
	right: 40px;
}

.attendeesAvatar img:nth-child(3) {
	display: flex;
	flex-direction: row;
	border: 3px solid #FFF;
	position: relative;
	right: 80px;
}

.attendeesAvatar img:nth-child(4) {
	display: flex;
	flex-direction: row;
	border: 3px solid #FFF;
	position: relative;
	right: 120px;
}

.attendeesName {
	display: flex;
	flex-direction: row;
}

.attendeesName > div > p::after {
	content: ",";
}

.attendeesName > div:last-child > p::after {
	content: " and";
}

.attendeesInfo {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.avatarName {
	margin-right: 5px;
}

.attendeesName > div:last-child > p{
	margin-right: 5px;
}

/* Plats containers */
.locationHolder, .closeLocationHolder {
	border-top: 1px solid #d2d2d2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2px;
	margin-bottom: 20px;
}

.placeHolder, .closeLocationPlaceholder {
	padding-top: 10px;
	width: 80%;
	hyphens: auto;
}

.placesVoteHolder {
	padding-top: 10px;
	padding-right: 20px;
}

/*
*CH3 - Header & Navigation
---------------------------------------------
*/

.header {
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
	height: 75px;
	justify-content: space-between;
	padding: 30px 30px 0 30px;
}

h1.back::before {
	content: url("/img/events/back.png");
	padding-right: 15px;
	vertical-align: middle;
	margin: 0;
	padding-bottom: 0;
}

h1.back a {
	color: #424242;
	vertical-align: top;
}

.invite::before {
	content: url("/img/events/invite.png");
	padding-right: 15px;
	vertical-align: middle;
}

h1.invite a {
	color: #424242;
	vertical-align: top;
}

/* Status Stats sektionen */
.statusStats {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	justify-content: center;
}






/*
*CH4 - Content & Media
---------------------------------------------
*/



h2.show {
	margin-left: 0;
}
/* Attending Chooser */
.eventDetailsChooser {
	margin-top: 35px;
	margin-right: 50px;
}

.eventDetailsChooser > select {
	border: 1px solid #CCC;
	padding: 5px;
}


/* Google Map */
.map {
	border-bottom: 1px solid #d2d2d2;
	height: 260px;
	width: 458px;
}

.placesVotes > p::before, .datesVotes > p::before {
	content: url("/img/events/people.png");
	padding-right: 5px;
}

.join, .can_join, .un_join {
	font-weight: 700;
	outline: none;
}

.join {
	color: #8ecc20;
}

.can_join {
	color: #f0b71f;
}

.un_join {
	color: #b53027;
}

.delCross > img {
	margin-bottom: 10px;
}

/* Add place in EventDetails */
.addPlace {
	color: #000;
}

.addPlace > .geosuggest__input-wrapper {
	width: 460px;
	margin-left: 20px;
}

.geosuggest.addPlace > .geosuggest__suggests-wrapper > .geosuggest__suggests {
	width: 460px;
	margin-left: 20px;
}
.dateHolder,
.locationHolder {
	margin-bottom: 2px!important;
}
/* Add date in Eventdetails */
.addDateTimePicker {
	margin-left: 20px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
}

.addDateTime {
	margin-left: 20px;
	font-weight: bolder;
}

/* Input timeDatePicker */
.rdt.inputStart {
	display: inline-block;
	margin-top: 10px;
	border: 1px solid #CCC;
}

.rdt.inputEnd {
	display: inline-block !important;
	margin-top: 10px;
	border: 1px solid #CCC;
}


.rdtPicker {
	border: 10px solid #CCC;
}



/* Edit Title */

.edit {
	color: #CCC;
}

.headerEdit {
	display: flex;
	flex-direction: row;
}

/* Edit Description */

.descriptionTextarea {
	border: 1px solid #CCC;
	width: 450px;
	margin-left: 5px;
	margin-right: 5px;
	height: 200px;
	padding: 10px;
}

.datesCheckbox input {
  display: none;
}

.datesCheckbox span {
  width: 20px;
  height: 20px;
  display: block;
  background: url("/img/eventDetails/unchecked.png");
  cursor: pointer;
}

.datesCheckbox input:checked + span {
  background: url("/img/eventDetails/checked.png");
}

/* Radiobuttons */

.datesRadio input {
	display: none;
}

.datesRadio span {
	width: 20px;
	height: 20px;
	display: block;
	background: url("/img/eventDetails/unchecked_radio.png");
}

.datesRadio input:checked + span {
	background: url("/img/eventDetails/checked_radio.png");
}

/* Ta bort tid/plats */
.del {
	margin-left: 3px;
	margin-bottom: 10px;
	margin-top: 5px;
	cursor: pointer;
}

/* Pop-up när man klickar på attending stats */
.avatar {
	height: 50px;
	width: 50px;
	margin-top: 0px;
	padding: 0;
	margin-right: 20px;
	border-radius: 50px;
}

#comingAttendees, #maybeAttendees, #notAttendees {
		background-color: #FFF;
    display: block; 
    border: 1px solid #CCC;
    position: absolute; 
    z-index: 99999; 
    top: 150px;
    padding: 10px;
    width: auto; 
    height: 300px; 
    overflow: auto;
}

#comingAttendees {
	left: 15px;
}

#maybeAttendees {
	left: 95px;
}

#notAttendees {
	left: 175px;
}

.weAreComing, .weAreMaybe, .weAreNot {
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-items: center;
}


.coming, .maybe, .notComing > h1 {
	cursor: pointer;
}

.comingHeader, .maybeHeader, .notHeader {
	text-align: center;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

.closeHeader {
	text-align: center;
	border-top: 1px solid #CCC;
	margin-top: 10px;
	padding-top: 15px;
}

.closeHeaderButton {
	color: #666;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 5px;
	width: 90%;
}

.closeHeaderButton:hover {
	color: #000;
	background-color: #EFEFEF;
}

.comingHeader {
	color: #8ecc20;
}

.maybeHeader {
	color: #f0b71f;
}

.notHeader {
	color: #b53027;
}

/* Platser - Ikoner/Checkbox/Radiobutton */
.placesTitle::before, .closeLocationPlacesTitle::before {
	content: url("/img/eventDetails/places_pin.png");
	margin-right: 10px;
	vertical-align: middle;
}

.placesCheckbox input {
  display: none;
}

.placesCheckbox span {
  width: 20px;
  height: 20px;
  display: block;
  background: url("/img/eventDetails/unchecked.png");
}

.placesCheckbox input:checked + span {
  background: url("/img/eventDetails/checked.png");
}

/* Radiobuttons */
.placesRadio input {
	display: none;
}

.placesRadio span {
	width: 20px;
	height: 20px;
	display: block;
	background: url("/img/eventDetails/unchecked_radio.png");
}

.placesRadio input:checked + span {
	background: url("/img/eventDetails/checked_radio.png");
}

@media screen and (max-width: 768px) {

/*
*CH1 - Tyopgraphy Mediaquery
---------------------------------------------
*/

.coming > h1, .maybe > h1, .notComing > h1, .invited > h1 {
	font-size: 18px;
}

/*
*CH2 - Page Structure Mediaquery
---------------------------------------------
*/

div.eventDetailsLayout{
	flex-direction: column;
}

div.event-subHeader {
	margin: 0px;
	padding: 0px;
	margin-top: 2px;
}

div.aboutHost {
	margin-left: 0px;
	width: 100%;
}

div.eventLocation {
	margin-left: 0px;
	width: 100%;
}

div.eventDate {
	margin-left: 0px;
	width: 100%;
}

.eventDescription {
	margin-left: 0px;
	width: 100%;
}

.eventDescription > img {
		width: 100% !important;
}

.descriptionTextarea {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.addPlace > .geosuggest__input-wrapper {
	width: 375px;
	margin-left: 0px;
}

.geosuggest.addPlace > .geosuggest__suggests-wrapper > .geosuggest__suggests {
	width: 375px;
	margin-left: 0px;
}

.addDateTimePicker {
	width: 375px;
	margin-left: 0px;
}

.addDateTime {
	margin-left: 5px;
}

#alignRight {
	font-size: 14px;
}

/* xxxxxxxxxxxx */
	#comingAttendees, #maybeAttendees, #notAttendees {
		background-color: #FFF;
    display: block; 
    border: 1px solid #CCC;
    position: absolute; 
    z-index: 99999; 
    top: 225px;
    padding: 10px;
    width: auto; 
    height: 300px; 
    overflow: auto;
	}


/*
*CH3 - Header & Navigation Mediaquery
---------------------------------------------
*/

.header {
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	height: 140px;
	justify-content: flex-start;
	/* padding: 30px 30px 0 30px; */
}

/* < Back */
.back {
	margin-bottom: 15px;
}

/* Titel när det gäller headern */
h1.show {
	margin-bottom: 15px;
	display: flex !important;
	flex-direction: row;
}

/* Edit title för att editera */
#alignRight.show {
	flex-direction: row;
	margin-left: 10px;
	float: none;
	padding: 0;
}

div.attendees {
	display: flex;
	flex-direction: column;
}

.attendeesInfo {
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	/* width: 400px; */
}

.attendeesAvatar {
	/* width: auto; */
}

div.eventDetailsChooser {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	display: flex;
	justify-content: center;
}

/*
*CH4 - Content & Media Mediaquery
---------------------------------------------
*/
	
/* Flytta till eventDetails CSS */
.map {
	display: none;
}

.attendees {
	flex-direction: column;
	justify-content: flex-start;
}

}
@media screen and (max-width:768px) { 
	.eventDetailsLeft,
	.eventDetailsRight {
		padding: 5px;
	}
	.attendees {
		padding-bottom: 10px;
	}

	.invite {
		text-align: center;
	}
	h1#title {
		margin: 0 auto 15px auto;
		
	}
	a#alignRight {
		margin-left: 10px!important;
		
		display: inline;
	}
	
}

