/*
	Friendo Calendar
	-------------------------------------------
	*CH1 - Tyopgraphy
	*CH2 - Page Structure
---------------------------------------------
*/


/*
*CH1 - Tyopgraphy
---------------------------------------------
*/

header.calendar-head > h1 {
	padding-top: 32px;
	text-align: center;
}

.calendarBody > th {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

h2.month {
	font-weight: bolder;
	text-align: center;
	text-decoration: underline;
}

tr.calendarRow > td {
	font-size: 13px;
	text-align: center;
	padding: 10px;
}

.today {
	background-color: #ca4532;
	border-radius: 30px;
	color: #FFF;
	font-weight: bold;
}

.eventDay {
	background-image: url("../img/events/event.png");
	background-position: center;
	color: #ca4532;
	font-weight: 800;
}

.eventDayToday {
	background-color: #ca4532;
	background-image: url("../img/events/eventToday.PNG");
	background-position: center;
	border-radius: 20px;
	color: #FFF;
	font-weight: bold;
}



/*
*CH2 - Page Structure
---------------------------------------------
*/

#calendar {
	height: 100vh;
	margin-left: 5px;
	overflow-y: scroll;
	padding-bottom: 100px;
	width:90%;
}


#calendar::-webkit-scrollbar { 
  display: none;
}


.calendar-head {
	border-bottom: 1px solid #ECECEC;
	height: 75px;
}

table {
	margin: 15px 0px 15px 0px;
}

#calendar table {
	width: 100%;
}

#calendar-container {
	display:table-cell;
	vertical-align: top;
	width: 300px;
	height: 100%;
}

@media screen and (max-width:768px) { 
	
	.calendar-head,
	#calendar,	
	#calendar-container {
		display: none;
	}
}