/*
	Friendo User Info
	-------------------------------------------
	*CH1 - Tyopgraphy
	*CH2 - Page Structure
	*CH4 - Content & Media
	*CH6 - Misc
---------------------------------------------
*/


/* 
*CH2 - Page Structure
---------------------------------------------
*/
.about {
	margin-top: 5px;
}

.lefty {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}

.righty {
	display: flex;
	flex-direction: column;
}

.avatarHolder {
	margin-left: 10px;
}


.flexWrapper {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.phone > p {
	margin: 0;
	margin-bottom: 10px;
}

.name > p {
	margin: 0;
	margin-bottom: 10px;

}

.phone > p::before {
	content:url("/img/events/phone.png");
	margin-right: 10px;
	vertical-align: middle;
}

.location > p::before {
	content:url("/img/events/location.png");
	margin-right: 10px;
	vertical-align: middle;
}